<h1>Página Inicial</h1>

<% if user_signed_in? %>

<ul>
  <%= current_user.email %>
  <%= user_session %>
  <li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
</ul>
<% else %>
<ul>
  <li><%= link_to "Logar", new_user_session_path %></li>
  <li><%= link_to "Cadastro de novo usuario", new_user_registration_path %></li>
</ul>
<% end %>

<ul>
  <li><%= link_to "Clientes", customers_path %></li>
  <li><%= link_to "Produtos", products_path %></li>
</ul>
